.wrapper1{
	color: #44433f;
	font: 14px "Futura Medium", "Myriad Pro", "Gill Sans", Helvetica, Verdana, Arial, sans-serif;
	margin: 0;
	padding: 4px 0 0;

	float: left;
        height:35px;
	}
	.wrapper1 a{
		color: #E5F2FB;
		text-decoration: none;
	}
	.wrapper1 a:hover {
		color: #09548B;
	}
	.wrapper1 p {
		margin: 0 0 7px;
		padding: 0;
		line-height: 18px;
	}
.wrapper {
	/*width: 710px;*/
	margin: 20px auto;
}
.nav {
	background:  url(../images/menu_principal/nav_bg.png) repeat-x;
	float: left;
        height:35px;
}
.nev-wrapper {
	clear: both;
	float: left;
}
.nav-left {
	background: url(../images/menu_principal/nav_left.png) no-repeat top left;
	float: left;
        width: 11px;
	height: 12px;
}
.nav-right {
	background: url(../images/menu_principal/nav_right.png) no-repeat top right;
	float: left;
	width: 11px;
     	height: 12px;
}
.nav ul {
	/*width: 648px;*/
	height:38px;
	float: left;
	margin: 0;
	padding-top: 3px;
	list-style: none;
	font-size: 15px;
}
.nav li {
	float: left;
	padding: 0 9px;
	background: url(../images/menu_principal/split.png) no-repeat right center;
	position: relative;
	z-index: 1;
}
.nav li.last {
	background:none;
}
.nav li:hover {
	z-index:2;
}
.nav li a {
	display: block;
	line-height: 38px;
	overflow: hidden;
	float: left;
        width: 123px;
}
a .menu-left {
	background: url(../images/menu_principal/menu_right.png)no-repeat left top;
	width: 8px;
	height: 33px;
        line-height: 35px;
	display: block;
	float: left;
}
a .menu-mid {
	background: url(../images/menu_principal/menu_mid.gif) repeat-x top left;
	height: 32px;
	line-height: 35px;
	display: block;
	float: left;

}
a .menu-right {
	background: url(../images/menu_principal/menu_right.gif) no-repeat top left;
	width: 8px;
	height: 33px;
	line-height: 35px;
	display: block;
	float: left;
}



.nav li:hover a .menu-left
{
width:100%;
    background-position: 0 -37px;
	line-height: 35px;

}



.nav li a:hover .menu-left
{

    background-position: 0 -37px;
	line-height: 35px;

}

.nav li a:hover .menu-mid
{

  background-position: 0 -37px;
	line-height: 35px;

}
.nav li:hover a .menu-mid
{

    background-position: 0 -37px;
	line-height: 35px;

}





.nav li a:hover .menu-right
{

    background-position: 0 7px;
	line-height: 3px;

}

.nav li:hover a .menu-right {

	background-position: 0 -37px;
	line-height: 35px;


}





.nav li.active a .menu-left
{
    width:50px;
        height:33px;
    background-position: 0px -37px;
	line-height: 35px;

}
.nav li.active a .menu-mid
{
    width:40px;

    background-position: 0 -37px;
    line-height: 35px;

}
.nav li.active a .menu-right

{
   width:10px;
   height:32px;
    background-position: 0px -37px;
	line-height: 35px;

}






.nav li a:hover,
.nav li.active a,
.nav li.hover a,
.nav li:hover a {
	color: #09548B;

}
.nav li:hover .sub,
.nav li.hover .sub {
	display:block;

}
.nav li .sub {
	display: none;
	position: absolute;
	top: 27px;
	left: 6px;
	background: url(../images/menu_principal/submenu_top.png) no-repeat;
	width: 186px;
	padding-top: 9px;
}
.nav li ul {
	background: url(../images/menu_principal/submenu_bg.png) repeat-y;
	width: 162px;
	height: auto;
	margin: 0;
	padding: 0 12px 10px;
	list-style: none;
	font-size: 14px;
}

.nav li:hover li,
.nav li.active li {
	width: 100%;
	padding: 1px 0 2px;
	border-bottom: 1px #C1D9F0 dashed;
	background: none !important;
}
.nav li:hover li a,
.nav li.active li a {
	color: #09548B;
	background: none !important;
	line-height: normal;
	width: 156px;
	padding: 8px 3px 3px;
	text-indent: 1px;
}
.nav li:hover li a:hover,
.nav li.active li a:hover {
	color: #fff;
	background: #165B9F !important;
	text-decoration: none;
	line-height: normal;
}
/*IE*/
.nav li li a:hover,
.nav li li a:hover {
	color: #fff;
	background: #165B9F !important;
	text-decoration: none;
	line-height: normal;
}
/**/
.nav .btm-bg {
	background: url(../images/menu_principal/submenu_bottom.png) no-repeat;
	width: 205px;
	height: 9px;
	overflow: hidden;
	clear: both;
}
.content {
	width: 670px;
	background: transparent url(../images/menu_principal/content_bg.png) repeat-y;
	float: left;
	padding: 10px 20px;
}
.content h1 {
	color: #333;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 18px;
	border-bottom: 1px dashed #C1D9F0;
}
.content h2 {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 14px;
	padding-left: 10px;
	margin-bottom: -5px;
}
.content p {
	padding: 0 15px;
	text-align: justify;
}
.content-bottom {
	width: 710px;
	background: transparent url(../images/menu_principal/content_bottom.png) no-repeat;
	height: 13px;
	float: left;
}