
/*
    Document   : menu_lateral
    Created on : 22-sep-2010, 1:49:43
    Author     : Erick
    Description:
        Purpose of the stylesheet follows.
*/
#General{


}


#General a:hover, a:active {
	color: #2399E5;
	}

#container {
	width: 760px;
	}


#content {
	margin: 10px;
	color: #555;
	}

#General ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}

#General p {
	font-size: .9em;
	}

/* =-=-=-=-=-=-=-[Menu]-=-=-=-=-=-=-=- */	

#menu3 {
	width: 150px;
	margin: 10px;
	color: #555;
	}

/*#menu3 li a {
	height: 39px;
  	voice-family: "\"}\"";
  	voice-family: inherit;
  	height: 31px;
	text-decoration: none;
	}	

#menu3 li a:link, #menu3 li a:visited {
	color: #333;
	display: block;
	background:  url(../images/menu_lateral/menu_lateral.gif);
	padding: 8px 0 0 20px;
	}

#menu3 li a:hover {
	color: #000;
	background:  url(../images/menu_lateral/menu_lateral.gif) 0 -40px;
	padding: 8px 0 0 20px;
	}

*/
